<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waira | Dashboard</title>
</head>
<body>
    <nav>
        <div>
            <img class="logo-navbar" th:src="@{/imgs/Waira.svg}">
        </div>
        <ul>
            <li>
                <a th:href="@{/}">Inicio</a>
            </li>
            <li>
                <a th:href="@{/logout}">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>

    <div>
        <div>
            <a href="#inicio">Inicio</a>
            <a href="#servicios">Productos</a>
            <a href="#pedidos">Pedidos</a>
            <a href="#mensajes">Mensajes</a>
            <a href="#perfil">Perfil</a>
        </div>

        <div>
            <section id="inicio">
                <h2>Inicio</h2>
            </section>

            <section id="servicios">
                <h2>Servicios</h2>

                <div>
                    <a href="/servicios/crear">Crear Servicio</a>
                </div>

                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Titulo Servicio</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Producto 1</td>
                                <td>$100</td>
                                <td>50</td>
                                <td>
                                    <a href="">Editar</a>
                                    <a href="">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </section>

            <section id="pedidos">
                <h2>Pedidos</h2>
            </section>

            <section id="mensajes">
                <h2>Mensajes</h2>
            </section>

            <section id="perfil">
                <h2>Perfil</h2>
            </section>
        </div>
    </div>
</body>
</html>