<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Waira</title>
    <link rel="stylesheet" href="/css/modals.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <!-- Logo de Waira -->
        <div>
            <img th:src="@{/imgs/Waira.svg}">
        </div>
        <!-- Opciones de navegación -->
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/explore">Explorar</a></li>
            <li><a href="/about">Acerca de</a></li>
            <li><a href="javascript:void(0)" onclick="abrirModal('login-modal')">Iniciar Sesión</a></li>
            <li><a href="javascript:void(0)" onclick="abrirModal('register-modal')">Registrarse</a></li>
        </ul>
    </nav>

    <!-- Contenido principal -->
    <main>
        <h1>Bienvenido a Waira</h1>
        <p>Tu ventana a las experiencias únicas de Cartagena.</p>
        <a href="javascript:void(0)" onclick="abrirModal('register-modal')">Comienza tu aventura</a>
    </main>
    
    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Waira. Todos los derechos reservados.</p>
    </footer>

    <!-- Modales de Login y Registro -->
    <div th:replace="fragments/modals :: body"></div>
</body>
<script src="/js/modals.js"></script>
</html>