<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Temporal</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <p th:text="'Usuario: ' + ${session.usuarioLogueado.nombre} + ' ' + ${session.usuarioLogueado.apellido}"></p>
    <p th:text="'Rol: ' + ${session.usuarioLogueado.rol}"></p>
    
    <a th:if="${session.rol == session.usuarioLogueado.rol}" th:href="@{/proveedor/dashboard}">Mi Dashboard</a>
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
    <a th:href="@{/delete-account(id=${session.usuarioLogueado.id})}">Eliminar cuenta</a>
</body>
</html>
